@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
  font-family: 'Arvo', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
}

.heading {
  position: relative;
  color: #fff;
}

.clock {
  width: 450px;
  height: 450px;
  background-image: url(./clock.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
  transform: rotateZ(0deg);
}
